.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.inner {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    padding: 0 5%;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.highlight {
    color: #7546ff;
}

.hover-wrap {
    display: grid;
    overflow: hidden;
}

.hover-wrap .line {
    grid-area: 1/1;
}

.hover-wrap .line2 {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}